html {
	font-size: 62.5%;
	box-sizing: border-box;
	color: $baseBlack;
	position: relative;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	color: $color-main;
	background-color: $color-background;
	font-family: $fontMain;
	font-weight: $font-weight-light;
	font-size:1.5rem;
	text-align: justify;
	line-height: 160%;

	@media $small {
		font-size:1.6rem;
		text-align: left;
	}
}

/* blocks */
.block {
	padding: 15px;
}

.width-full {
	width: 100%;
}

.width-part {
	width: 90%;
	margin: 0 auto;
}

#wrapper {
	min-height: calc(100vh - 90px );
	@media $medium {
		padding-top: 0;
	}
}

/* links */
a{
	color: $baseBlack;
	transition-duration: $transitionTime;
}

a:hover {
	color: $red;
	transition-duration: $transitionTime;
}

nav {
	a {
		text-decoration: none;
	}
	a:visited {
		color: $baseBlack;
	}
}

/* interface */
button {
	border: none;
	background: $baseBlack;
	color: #fff;
	font-family: $fontMain;
	text-transform: uppercase;
	padding: 10px 25px;
	transition-duration: $transitionTime;
}

button:hover {
	cursor: pointer;
	background: $red;
}

.input-invalid {
	border: 1px solid $red;
}

.input-valid {
	border: 1px solid $green;
}

/* gfx */
svg {
	.frame {
		fill: none;
		stroke: none;
	}
}
